*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main_div{
    width: 100%;
    height: 100vh;
    background-color: #6983aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_div{
    width: 25%;
    height: 80vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

h1{
    color: white;
    background: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

input{
    background: transparent;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    border: none;
    width: 60%;
    height: 20px;
    top: 10px;
    border-bottom: 2px solid #8566aa;
    outline: none;
}

button{
    min-height: 30px;
    width: 40px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
    outline: none;
    font-size: 30px;
    margin-left: 10px;
    color: #fff;
    background-color: #8566aa;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);


}

button:hover{
    background-color: #20bf6b;
}

ol{
    margin-top: 15px;
}

ol li{
    padding-left: 0px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    min-height: 15px;
    align-items: center;
    color: #8566aa;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.todo_style{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.todo_style .fa-times {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    color: aliceblue;
    border-radius: 50%;
    margin: 0 5px 0 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.todo_style .fa-times:hover{
    background-color: crimson;
}

@media (max-width: 768px){
    .center_div{
        width: 55%;
    }

    .todo_style .fa-times{
        margin: 0 15px 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        margin-left: 5px;
        min-height: 40px;
        width: 40px;
        color: #fff;
        font-size: 30px;
    }
}