*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin- Sans";
}

.header{
    width: 100%;
    line-height: 100px;
    background-color: #f5ba13;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left: 50px;
    color: white;
    box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.7);
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}